<!DOCTYPE html>
<html>
<head>
    <title>Character</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="header">CRAWLER INTERFACE</div>

<div class="main">

<div class="card">

<h2>{{char.name}}</h2>

HP {{meta.hp}} / {{meta.max_hp}}<br>
Mana {{meta.mana}} / {{meta.max_mana}}<br>
Level {{meta.level}}

<br><br>

<button onclick="roll()">🎲 Roll D20</button>

</div>

<div class="card">

<h2>Stats</h2>

{% for k,v in stats.items() %}
<div class="skill">
<b>{{k}}</b><br>
Total: {{v.total}}<br>
Modifier: {{v.mod}}
</div>
{% endfor %}

</div>

<div class="card">

<h2>Equipment (Auto Save)</h2>

<div id="equipment" contenteditable="true" class="richbox">
{{equipment}}
</div>

<button onclick="save()">Save Equipment</button>

</div>

<div class="card">

<h2>Live Feed</h2>
<div id="feed"></div>

</div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/app.js"></script>

</body>
</html>
