<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="header">CHARACTER SHEET</div>

<div class="main">

<div class="card">

<h2>{{char.name}}</h2>

HP {{meta.hp}} / {{meta.max_hp}}<br>
Mana {{meta.mana}} / {{meta.max_mana}}

<button onclick="roll()">Roll D20</button>

</div>

<div class="card">

<h2>Stats</h2>

{% for k,v in stats.items() %}
<div class="skill">
<b>{{k}}</b><br>
{{v.total}} ({{v.mod}})
</div>
{% endfor %}

</div>

<div class="card">

<h2>Equipment</h2>

<div id="equipment" contenteditable="true" class="richbox">
{{equipment}}
</div>

<button onclick="save()">Save</button>

</div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/app.js"></script>

</body>
</html>
