<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="header">DCC MMO FIXED</div>

<div class="main">

<div class="card">

<h2>Create Character</h2>

<form method="POST" action="/create">
<input name="name" placeholder="Name">
<button>Create</button>
</form>

</div>

<div class="card">

<h2>Characters</h2>

{% for c in chars %}
<div class="skill">
{{c.name}}<br>
<a href="/c/{{c.id}}"><button>Enter</button></a>
</div>
{% endfor %}

</div>

</div>

</body>
</html>
